[submodule "llama.cpp/submodules/llama.cpp"]
	path = llama.cpp/submodules/llama.cpp
	url = git@github.com:mixa3607/ggml-org/llama.cpp.git
[submodule "comfyui/submodules/ComfyUI"]
	path = comfyui/submodules/ComfyUI
	url = ../../comfyanonymous/ComfyUI.git
	branch = master
